<div class="container d-flex justify-content-between flex-wrap pt-4">
{{#each pages}}


<a target="_blank" href="/{{this.name}}" class="flex-fill btn btn-index btn-lg active mx-1 my-2" role="button" aria-pressed="true">{{{this.title}}}</a>

{{/each}}
</div>


