<div class="container d-flex justify-content-between flex-wrap">
{{#each pages}}

<a target="_blank" href="/{{this.name}}" class="flex-fill btn btn-primary btn-lg active mx-1 my-2" role="button" aria-pressed="true">{{{this.title}}}</a>

{{/each}}
</div>


