<style>
   
   body {
    opacity: 0.7;
    background:  url(/image.jpg);

    
   }
</style>   
   
<div class="h3 text-center" style="color: #8F00FF"> Сайт в разработке (но можно аккуратно тыкать по кнопочкам) </div>


<div class="container d-flex justify-content-between flex-wrap pt-4">
{{#each pages}}


<a target="_blank" href="/{{this.name}}" class="flex-fill btn btn-index btn-lg active mx-1 my-2" role="button" aria-pressed="true">{{{this.title}}}</a>

{{/each}}
</div>


